{%extends './layout.html'%}

{%block head%}
<link rel="stylesheet" href="/public/css/user_index.css">
{% endblock %}

{%block main%}
<section class="self_content">
    <div class="wrap">
        <h2><span>个人动态</span></h2>
        <ul class="dynamic_list">
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
            <li>
                <div class="self_dynamic">
                    <div class="dynamic_msg">
                        <span>zmouse</span>
                        收藏了
                        <span>菁厨乐园</span>
                        的菜谱
                        <span>下饭菜～香菇炒土豆片</span>
                    </div>
                    <div class="dynamic_data">
                        2017-07-24 00:50
                    </div>
                </div>
            </li>
        </ul>
        <button class="more">查看更多</button>
    </div>
</section>
{%endblock %}


{%block js%}
<script src='/public/js/jquery.min.js'></script>
<script src='/public/js/user.js'></script>
{%endblock%}